{% extends 'PC_Configurator/base_list.html' %}
{% block Title %} Материнские платы {% endblock %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'PC_Configurator/list.css' %}">
    <link rel="stylesheet" href=" {% static 'PC_Configurator/style.css' %}">
{% endblock %}
{% block content %}
    {% for motherboard in motherboards %}
        <li>
            <div class="product">
                <div class=product-img-container">
                    <a href="{{ motherboard.get_url }}"><img src="{{ motherboard.Photo.url }}" class="product-img"
                                                             width="200" height="150"></a>
                </div>
                <p class="product-title">
                    <a href="{{ motherboard.get_url }}"><b>{{ motherboard.Name }}</b></a>
                </p>
                <p class="product-desc">
                    {{ motherboard }}
                </p>
                <p class="product-price">
                    <b>Цена {{ motherboard.Price }}₽</b>
                </p>
                <form method="post">

                    {% csrf_token %}
                    <input type="hidden" name="motherboard_id" value="{{ motherboard.id }}">
                    <button type="submit" class="btn-succes">
                        Добавить в конфигуратор
                    </button>
                </form>
            </div>
        </li>
    {% endfor %}
{% endblock %}